Package: co.melone.nolabels
Name: NoLabels
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Description: Hide those icon labels!
Maintainer: Caetano Melone <caetano@melone.co>
Author: Caetano Melone <caetano@melone.co>
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 248
